/* Structure et Généralités */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Architects Daughter', cursive;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

/* Fin structure */

/* Début Header */
header {
    height: 100%;
    background-image: url(/assets/img/littleitalyweb.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

#adresse {
    margin-left: 7em;
    width: 300px;
    background-color: rgba(36, 36, 36, 0.822);
    border-radius: 30px;
}

.coord {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-bottom: 1em;
}

.horaires {
    margin-bottom: 0px;
}

/* Fin du header */
/* Nav barre du haut */
.first-nav-list {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: black;
}

.nav-item {
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.first {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.first ul {
    margin: 0;
}

/* Nav barre du bas */
.last-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.last ul {
    margin: 0.2em;
}

.item-nav {
    margin-right: 3rem;
    text-transform: uppercase;
    font-weight: 300;
}

.calendar,
.phone,
.mail,
.adress {
    vertical-align: middle;
}

/* Fin barre */
/* MAIN-Généralités */
main {
    color: black;
}

#propos,
#pizzas,
#pates,
#desserts,
#contact {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 30%;
    background-color: thistle;
    border: 1px solid thistle;
    border-radius: 25px;
    padding: 1em;
    filter: opacity(75%)
}

.nothing {
    width: 50%;
}

/* Main-Parts */
#propos {
    background-image: url(/assets/img/propos.png);
}

#pizzas {
    background-image: url(/assets/img/pizzas.png);
}

#pates {
    background-image: url(/assets/img/pates.png);
}

#desserts {
    background-image: url(/assets/img/dessertweb.png);
}

/* Main-Contact */
#contact {
    background-image: url(/assets/img/contact.jpg);
    justify-content: space-evenly;
}

#contact .text {
    filter: opacity(95%);
    width: 15%;
}

#contact input {
    background: none;
    border: none;
}

#button {
    text-align: end;
}

#contact .nothing {
    font-size: x-large;
    width: 17.5%;
    margin-top: 7em;
}

/* Fin Main */

#footer {
    height: 50%;
    background-image: url(/assets/img/footer.png);
    background-size: cover;
    display: flex;
    color: white;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facebook {
    vertical-align: middle;
}

.last {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin: 0px;
    padding: 1px;
    background-color: rgba(44, 29, 29, 0.719);
}