html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
/* debut header */
header{
    height: 100%;
    width: 100%;
    background-image:url(/assets/img/littleitalyweb.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
#adresse{
    margin-left: 20px;
    height: 350px;
    width: 300px;
    background-color: rgba(65, 33, 33, 0.822);
}
h1{
    font-family: 'Architects Daughter', cursive;
    color: whitesmoke;
    text-align: center;
}
.coord{
    font-family: 'Architects Daughter', cursive;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horaires{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    color: whitesmoke;
}
/* Fin du header */